.gauge {
  position: relative;
  width: 180px;
  margin: 30px auto;
}

svg {
  transform: rotate(-90deg);
}

.background-circle {
  fill: none;
  stroke: #e5e7eb;
  stroke-width: 12;
}

.progress-circle {
  fill: none;
  stroke-width: 12;
  stroke-linecap: round;
  transition: stroke-dashoffset .8s ease;
}

.gauge-text {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #111827;
}

.gauge-text h2 {
  font-size: 40px;
  margin: 0;
}

.gauge-text span {
  color: gray;
}
.gauge-strength{
    margin-top:8px;
    font-size:18px;
    font-weight:600;
    color:#374151;
}